[user]
	name = Olivier Louvignes
	email = olivier@mg-crea.com

[core]
	autocrlf = input
	editor = /usr/local/bin/vim

[color]
	diff = auto

[alias]
	st = status
	di = diff
	co = checkout
	ci = commit
	br = branch
	sta = stash
	cp = cherry-pick

	amend = !git ci --amend -m
	repull = !git reset --hard && git clean -f -d && git submodule foreach 'git reset --hard && git clean -f -d' && git pull --recurse-submodules && git submodule update --init
	subreset = !git submodule foreach "git reset --hard && git clean -f -d;"
	subupdate = !git submodule update --init
	subrepull = !git submodule foreach "git repull"
	push-all = !git remote | xargs -L1 git push --all

	up = !git add . && git commit -a -m "Update." && git push
	fw = !git branch --set-upstream
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit

	ver = !git branch 2> /null | sed -e \"/^[^*]/d\" -e \"s/* \\(.*\\)/\\1/\" > version && git log --pretty=oneline --date-order | wc -l | sed \"s/^ *//g\" | sed \"s/ *$//g\"' >> version && git log -1 --pretty=format:\"%cn%n%ci%n%h\" >> version
[diff]
	prompt = no
	tool = bbdiff
[difftool "ksdiff"]
	cmd = ksdiff \"$LOCAL\" \"$REMOTE\"
[difftool "bbdiff"]
        cmd = /usr/bin/bbdiff --wait --resume "$LOCAL" "$REMOTE"
[merge]
	tool = diffmerge
[mergetool "ksdiff"]
	cmd = "ksdiff -w \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\""
	trustExitCode = true
[difftool "diffmerge"]
	cmd = diffmerge \"$LOCAL\" \"$REMOTE\"
[mergetool "diffmerge"]
	cmd = "diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$(if test -f \"$BASE\"; then echo \"$BASE\"; else echo \"$LOCAL\"; fi)\" \"$REMOTE\""
	trustExitCode = true
[push]
	default = matching
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[rerere]
	enabled = true
	autoupdate = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
