[user]
	name = Olivier Louvignes
	email = olivier@mg-crea.com

[color]
	diff = auto

[alias]
	st = status
	di = diff
	co = checkout
	ci = commit
	up = !git add . && git commit -a -m "Update." && git push
	br = branch
	sta = stash
	fw = !git branch --set-upstream
	lg = !git log -5 --pretty=format:\"%Cred%h%Creset : %Cgreen%s%Creset : %ci : %cn\" | cat

	ver = !git branch 2> /null | sed -e \"/^[^*]/d\" -e \"s/* \\(.*\\)/\\1/\" > version && git log --pretty=oneline --date-order | wc -l | sed \"s/^ *//g\" | sed \"s/ *$//g\"' >> version && git log -1 --pretty=format:\"%cn%n%ci%n%h\" >> version